
 .hero {
  min-height: calc(100vh - 80px);
  background: #0b0b0b;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  text-align: center;
  color: white;
  padding: 40px 20px;
  overflow: hidden;
}

.hero img {
  width: 260px;
  height: 260px;
  border-radius: 50%;
  object-fit: cover;
  margin-top: 150px;
}


.hero h2 {
  font-size: 45px;
  font-weight: 600;
  line-height: 1;
  width:70%;
  margin-bottom: 22px;
  text-align: center;
}


.hero h1 span {
  background: linear-gradient(270deg, #DF8908 10%, #B415FF 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.hero p {
  width: 50%;
  font-size: 18px;
  color: white;
  line-height: 30px;
  text-align: center;
}

.hero-action {
  margin-top: 30px;
  display: flex;
  gap: 25px;
  flex-wrap: wrap;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 50px;
  justify-content: center;
  align-items: center;
}


.hero-connect {
  padding: 25px 45px;
  border-radius: 40px;
  background: linear-gradient(264deg, #DF8908 -5.09%, #B415FF 106.28%);
  font-size: 16px;
  cursor: pointer;
}
.hero-connect:hover{
     border: 2px solid white;
    /* transform: scale(1.05); */
}

.hero-resume {
  padding: 25px 75px;
  border-radius: 50px;
  border: 2px solid #FFF;
  font-size: 16px;
  cursor: pointer;
}
.hero-resume:hover{
     border-color: #B415FF;
   
}

/* ---------------- TABLET ---------------- */
@media (max-width: 1024px) {
  .hero h1 {
    font-size: 40px;
  }

  .hero img {
    width: 170px;
    height: 170px;
  }
}

/* ---------------- MOBILE ---------------- */
@media (max-width: 768px) {
  .hero {
    padding: 30px 16px;
  }

  .hero h1 {
    font-size: 28px;
  }

  .hero p {
    font-size: 15px;
  }

  .hero img {
    width: 140px;
    height: 140px;
  }
}

/* ---------------- SMALL MOBILE ---------------- */
@media (max-width: 480px) {
  .hero h1 {
    font-size: 24px;
  }

  .hero-action {
    flex-direction: column;
    gap: 14px;
  }
}


.name-gradient {
  background: linear-gradient(270deg, #DF8908 10%, #B415FF 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.typical-wrapper span {
  color: white !important;  /* ✅ forces white on dynamically created spans */
}



